/*
    Classes Prefixes
    C- : Stands for component class (Feel free to modify)
    O- : Stands for Object (AVOID MODIFYING THIS ABSTRACT CLASS, it's applied on multiple elements)
    JS-: This Class is manipulated with Javascript
*/

// Font Import

$family: unquote("Barlow");
@import url("http://fonts.googleapis.com/css?family=#{$family}:400,500,700");

// Reset

html, body, ul, ol, p{
  margin:  0;
  padding: 0;
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    background: #f5f5f5;
    position: relative;
}

::placeholder{
    text-transform: capitalize;
}

ul{
    list-style: none;
}

%outlineless {
    outline: none;
}

a{
    @extend %outlineless;
    text-decoration: none;
    color: #111;
    text-transform: capitalize;
}

button, input{
    @extend %outlineless;
    border: none;
}

//***** Global Classes *****//


//***** Colors *****//

$purple: #5A01AB;
$lavender: #AC3BFA;
$pink: #FF4677;

/***** Dropdown *****/

.js-dropdown{
    display: none;
    opacity: 0;
    position: absolute;
    width: 250px;
    top: 3em;
    transform: translateY(-5px);
    transition: all .25s ease-in-out;
    &::before{
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        transform: rotate(45deg);
        top: -8px;
        border-radius: 3px;
    }
    &.is-open{
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
}

%scroll {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #d4d4d4;
    }
}

//***** Select Component *****//

.c-select{
    position: relative;
    width: fit-content;
    &__launcher{
        position: relative;
        background: $lavender;
        color: #fff;
        &::before{
            position: absolute;
            content: '';
            top: calc(50% - 5px);
            right: 20px;
            border-color: #ffffff transparent transparent transparent;
            @extend %down-arrow;
        }
    }
    &--launched{
        .c-select__options {
            visibility: visible;
            transform: scaleY(1);
        }   
    }
    &--hidden{
        .c-select__options {
            visibility: hidden;
        }  
    }
    &__options{
        z-index: 5;
        transform: scaleY(0);
        transform-origin: top center;
        position: absolute;
        overflow: hidden;
        top: 45px;
        left: 0;
        transition: all 0.3s ease-in-out; 
        height: fit-content;
        width: 100%;
        background: $lavender;
    }
    &__option{
        text-transform: capitalize;
        cursor: pointer;
        opacity: 0;
        transform: translateX(10px);
        transition: all .3s ease-in-out;
        justify-content: center;
        color: #fff;
        display: flex;
        padding: 0.75em 0.5em;
        &--faded {
            opacity: 1;
            transform: translateX(0);
        }  
        &:hover{
            background: rgba(255, 255, 255, 0.2);
        }
    }
}

/***** Sections *****/

.section{
    flex-direction: column;
    padding: 1em 0;
    width: 96%;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    &__heading{
        padding: 0 0.5em;
        margin-bottom: 1em;
        justify-content: space-between;
    }
    &__title{
        margin-right: auto;
        font-size: 1.15rem;
        margin: 0;
        font-weight: 500;
        text-transform: uppercase;
    }
    &.hidden{
        display: none;
    }
    &.active{
        display: flex;
    }
    .filter{
        background: transparent;
        color: #111;
        border: 1px solid #bdbdbd;
        padding-right: 2.5em;
        outline: none;
        &::before{
            border-color: #bdbdbd transparent transparent transparent;
        }
    }
}

/***** Animations *****/

@keyframes vibration{
    0%{
        transform: translateX(0);
    }
    15%{
        transform: translateX(5px);
    }
    30%{
        transform: translateX(0);
    }
    45%{
        transform: translateX(5px);
    }
    60%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes translate{
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(-250px);
    }
}

//***** Abstract & Common Classes *****/

.o-card{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.o-rounded{
    border-radius: 20px;
    height: 40px;
    padding: 0 2em;
}

/***** Utility Classes *****/

.u-vertical-center{
    display: flex;
    align-items: center; 
}

%down-arrow{
    width: 0;
    height: 0;
    margin: 0.2em 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
}

article{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4.5em 4.5em 0 4.5em;
}

.u-condensed{
    width: 83%!important;  
}

/***** Header (navbar) Component *****/

.c-header{
    .logo{
        outline: none;
        margin-right: 5em;
        img{
            max-height: 30px;
        }
    }
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    background: #fff;
    padding: 0 5em;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    .wrapper{
        position: relative;
        width: 96%;
        @extend .u-vertical-center;
        transition: width 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

.search-box{
    position: relative;
    width: fit-content;
    margin: auto;
    &::before{
        position: absolute;
        content: '';
        top: calc(50% - 10px);
        right: 20px;
        background: url('../images/Search-icon.svg');
        height: 20px;
        width: 20px;
    }
    input{
        border: 1px solid #d4d4d4;
        width: 320px;
        transition: 0.3s ease-in-out;
        &:focus{
            border: 1px solid $purple;
        }
    }
}

.c-add-btn{
    margin: auto;
    & a{
        padding-right: 4em;
        width: 160px;
        .plus{
            margin-right: 8px;
            font-size: 1.2rem;
        }
    }
}

/***** Notification Component *****/
.c-notifications{
    position: relative;
    margin-right: 20px;
    &__bell{
        background: url(../images/Bell.svg);
        background-size: cover;
        height: 25px;
        display: block;
        width: 25px;
    }
    &__bubble{
        justify-content: center;
        position: absolute;
        top: -8px;
        right: -3px;
        font-size: 0.75rem;
        color: #fff;
        background: #FF4677;
        height: 18px;
        width: 18px;
        border-radius: 50%;
    }
    &__box{
        left: calc(50% - 125px);
        &::before{
            background: $pink;
            left: calc(50% - 10px);
        }
    }
    .heading{
        font-size: 0.95rem;
        background: $pink;
        margin: 0;
        color: #fff;
        padding: 1em;
        font-weight: 400;
    }
    .see-all{
        font-size: 0.8rem;
        text-align: center;
        color: $pink;
        font-weight: 500;
        text-transform: uppercase;
    }
    .notification{
        position: relative;
        padding: 0.5em 1em;
        &:not(:last-of-type) {
            &::before{
                position: absolute;
                content: '';
                width: 100%;
                left: 0;
                height: 1px;
                background: #eee;
                bottom: 0;
            }   
            &:hover{
                background: #f5f5f5;
            }
        }
        &__message{
            font-size: 0.85rem; 
            margin-bottom: 3px;
            font-weight: 500;
        }
        &__time{
            font-size: 0.8rem;            
            color: #a2a2a2;
        }
    }
}

.c-user{
    @extend .u-vertical-center;
    position: relative;
    
    &__avatar{
        border-radius: 50%;
        margin-right: 8px;
        height: 50px;
        width: 50px;
    }
    &__options{
        width: fit-content;
        li{
            padding: 0.5em 1em;
            &:hover{
                cursor: pointer;
                background: #f5f5f5;
            }
        }
        position: absolute;
        right: -25px;
    }
    &__lister{
        @extend %down-arrow;
        border-color: #111 transparent transparent transparent;
    }
}

/***** Sidebar Component *****/

.c-sidebar{
    z-index: 4;
    background: $purple;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 215px;
    transition: width 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.condensed{
        width: 55px;
        &:hover {
            .expand{
                animation: vibration 1s;
            }
        }
    }
    .expand {
        transition: transform 0.35s cubic-bezier(.52, .61, .23, .22);
        background-color: #fff;
        background-image: url('../images/next-arrow.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 23px 23px;
        position: absolute;
        bottom: 5%;
        height: 35px;
        width: 35px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        right: -16px;
        color: $purple;
        cursor: pointer;
        border-radius: 50%;
        &.spin{
            transform: rotate(900deg);
        }
    }
    &__heading{
        @extend .u-vertical-center;
        text-transform: uppercase;
        justify-content: center;
        color: #FFF;
        font-weight: 400;
        letter-spacing: 0.08em;
        height: 65px;
        background: #fff;
    }
}

.c-menu{
    margin-top: 6em;
    overflow: hidden;
    &__link{
        @extend .u-vertical-center;
        padding: 1em;
        width: 100%;
        color: #fff;  
        letter-spacing: 0.025em;
        img{
            max-width: 20px;
            margin-right: 19px;
        }
        &:hover{
            background: rgba(0, 0, 0, 0.1);
        }
        &--active{
            background: rgba(0, 0, 0, 0.1);
            border-left: 4px solid $pink;
        }
    }
}

/***** Clients Component *****/

.c-clients{
    overflow: hidden;
    p{
        font-weight: 500;
    }
    &__item{
        padding: 0.5em 1em;
        text-transform: capitalize;
        @extend .u-vertical-center;
        margin-bottom: 6px;
        &--first{
            p{
                text-transform: uppercase;
                font-weight: 500;
                color: #808080;
            }
        }
        >*{
            margin: 0;
            p{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }        
        .phone{
            width: 18%;
        }
        .action{
            width: 20%;
        }
        .project, .payment {
            width: 12%;
        }
        .email{
            text-transform: lowercase;
            width: 24%;
            p{
                width: 88%;
            }
        }
        .customer{
            width: 25%;
            display: flex;
            &__company{
                color: #bdbdbd;
                font-weight: 400;
            }
            &__avatar{
                margin-right: 8px;
                background: #f5f5f5;
                height: 45px;
                width: 45px;
                border-radius: 50%;
                justify-content: center;
                font-size: 1.1rem;
                font-weight: 800;
            }
        }
        .actions{
            width: 8%;
            justify-content: space-around;
            display: flex;
            img{
                cursor: pointer;
                &:hover{
                    background: #f5f5f5;
                }
                border-radius: 50%;
                border: 1px solid #d4d4d4;
                padding: 0.5em;
                margin-left: 5px;
                height: 38px;
                width: 38px;
            }
        }

    }
}

/***** Pagination Component *****/

.c-pagination{
    display: flex;
    margin-top: 2em;
    justify-content: center;
    &__item{
        font-size: 0.9rem;
        justify-content: center;
        height: 30px;
        width: 30px;
        &--active{
            border-radius: 50%;
            color: #fff;
            background: $lavender;
        }
    }
}

/***** Projects Section *****/

.projects{
    display: flex;
    flex-wrap: wrap;
    &__row{
        width: 100%;
        display: flex;
        .c-project:not(:last-of-type){
            margin-right: 1.2%;
        }
    }
}

/***** Project Component *****/

.c-project{
    margin-bottom: 12px;
    padding: 0.75em;
    width: 24%;
    text-transform: capitalize;
    &__heading{
        display: flex;
        height: 24px;
        h4 {
            color: $purple;
            font-weight: 500;
            font-size: 1.1rem;
            text-transform: uppercase;
            margin: 0;
        }
        button{
            cursor: pointer;
            margin-left: auto;
            background: transparent;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span{
                height: 5px;
                width: 5px;
                background: #bdbdbd;
                border-radius: 50%;
                display: block;
            }
        }
    }
    &__deadline{
        margin-bottom: 10px;
        img{
            height: 16px;
            width: 16px;
            margin-right: 8px;
        }
        span{
            font-size: 0.8rem;
            &:first-of-type{
                margin-right: 10px;
            }
        }
    }
    hr{
        height: 1px;
        border: none;
        background: #dddddd;
    }
    &__owner{
        display: flex;
        margin-bottom: 10px;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .name{
            margin-bottom: 5px;
        }
        .description{
            color: #5f5f5f;
            font-size: 0.8rem;
        }
        .image{
            margin-right: 10px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }
    &__budget{
        display: flex;
        justify-content: flex-end;
        color: $lavender;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        a{
            font-size: 0.8rem;
            cursor: pointer;
            
        }
    }
}

/***** Employees Section *****/

.employees{
    flex-wrap: wrap;
    display: flex;
    .c-employee:not(:last-of-type) {
        margin-right: 1%;
    }
}

/****** Employee Component *****/

.c-employee{
    width: 19%;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 1em 0.5em;
    position: relative;
    height: 230px;
    p, h3{
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
        width: 100%;
        text-align: center;
    }
    &__image {
        height: 70px;
        width: 70px;
        background: #f5f5f5;
        border-radius: 50%;
    }
    &__name{
        font-size: 1.1rem;
        font-weight: 500;
        margin: 6px auto 3px auto;
        text-transform: capitalize;
    }
    &__function{
        font-weight: 400;
        margin-bottom: 2px;
        font-size: 0.9rem;
        color: $purple;
        text-transform: capitalize;
    }
    &__email{
        margin-top: 4px;
        font-size: 0.8rem;
        text-transform: lowercase;
    }
    &__profile-link{
        &:hover{
            color: $lavender;
            border: 1px solid $lavender;
            background: transparent;
        }
        transition: all 0.3s ease-in-out;
        margin-top: 12px;
        background: $lavender;
        color: #fff;
    }
}

/***** Statistics Section *****/

.stats{
    &__row{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &--last{
            height: 200px;
            justify-content: space-around;
            canvas{
                width: auto!important;
                height: 70%!important;
            }
        }
        &--first{
            margin-bottom: 15px;
            .chart{
                width: 49.2%;
                canvas{
                    width: 100%;
                }
            }
        }
    }
    .chart{
        padding: 1em;
    }
}


/***** Meetings Section *****/

.meetings{
    display: flex;
    flex-wrap: wrap;
    > * {
        margin-right: 10px;
    }
}

.c-planning{
    height: fit-content;
    padding:  1.5em;
    width: 34%;
    &__heading{
        display: flex;
        text-transform: capitalize;
        margin-bottom: 1.5em;
        .reminder{
            margin: 0 10px 0 0;
            font-size: 1.1rem;
            font-weight: 400;
            color: #777;
        }
        .number{
            text-transform: uppercase;
            margin: 0;
            font-size: 1rem;
            font-weight: 500;
        }
        
    }
    .c-meeting{
            position: relative;
            text-transform: capitalize;
            border-left: 3px solid $pink;
            padding-left: 0.75em;
            &:not(:last-of-type) {
                margin-bottom: 20px;
                &::before{
                    position: absolute;
                    content: '';
                    height: 1px;
                    width: 100%;
                    background: #eee;
                    bottom: -10px;
                    left: 0;
                }
            }
        &__options{
            width: fit-content;
            right: 0;
            top: 30px;
            li{
                padding: 0.5em;
                &:hover{
                    background: #f5f5f5;
                }
            }
        }
        .lister{
            height: 18px;
            width: 5px;
            display: block;
            position: absolute;
            right: 0;
            background: url('../images/options.svg') center center no-repeat;
            background-size: 100% 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

         
        }
        &__name{
            h4{
                margin: 0 0 5px;
                font-size: 1.1rem;
                font-weight: 500; 
            }
            display: flex;
            justify-content: space-between;
        }
        &__client{
            color: #777;
            margin-bottom: 10px;
        }
        &__details{
            display: flex;
            .time{
                margin-right: 20px;
            }
        }
    }
    &.this-week{
        .c-meeting{
            border-color: $purple;
        }
    }
}

/// Calendar (Native library style)

.jsCalendar {
    margin-bottom: 20px;
    padding: 1em;
    height: fit-content;
    
  table {
    border: 0;
    td, th {
      border: 0;
    }
    font-family: Tahoma,Geneva,sans-serif;
    border-collapse: collapse;
  }
  thead {
    .jsCalendar-title {
      height: 40px;
      line-height: 40px;
    }
    .jsCalendar-title-left {
      float: left;
    }
    .jsCalendar-title-right {
      float: right;
    }
    .jsCalendar-nav-left, .jsCalendar-nav-right {
      border-radius: 10px;
      color: #999;
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 400;
      font-family: "Courier New",Courier,monospace;
      height: 20px;
      line-height: 20px;
      margin: 10px 8px;
      text-align: center;
      transition: color .2s,background-color .2s;
      width: 20px;
    }
    .jsCalendar-nav-left:hover, .jsCalendar-nav-right:hover {
      background-color: #e2e2e2;
      color: #000;
    }
    .jsCalendar-nav-left {
      float: left;
    }
    .jsCalendar-nav-right {
      float: right;
    }
    .jsCalendar-title-name {
      cursor: default;
      float: left;
      font-size: 18px;
      font-weight: lighter;
      padding: 0 20px;
    }
    .jsCalendar-nav-left:after {
      content: "<";
    }
    .jsCalendar-nav-right:after {
      content: ">";
    }
    .jsCalendar-week-days th {
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    }
  }
  tbody td, thead .jsCalendar-week-days th {
    border-radius: 18px;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    font-weight: lighter;
    height: 36px;
    line-height: 36px;
    margin: 1px 2px;
    text-align: center;
    transition: color .1s,background-color .2s;
    width: 36px;
  }
  tbody td {
    &:hover {
      background-color: #e6e6e6;
    }
    &.jsCalendar-selected {
      background-color: #fff;
      border: 2px solid #e6e6e6;
      height: 32px;
      line-height: 32px;
      width: 32px;
    }
    &.jsCalendar-current {
      background-color: $lavender;
      border-radius: 18px;
      color: #fff;
    }
    &.jsCalendar-next, &.jsCalendar-previous {
      color: #cacaca;
    }
    &.jsCalendar-next:hover, &.jsCalendar-previous:hover {
      color: #fff;
    }
  }
  thead {
    display: block;
    margin: 4px 4px 0 4px;
  }
  tbody {
    display: block;
    margin: 0 4px 4px 4px;
  }
  ::-moz-selection, ::selection {
    background: #83d8ff;
  }
}

/***** Welcome *****/
.welcome{
    height: 100vh;
    display: flex;
    background: #fff;
    justify-content: space-between;
    .left{
        display: flex;
        flex-direction: column;
        width: 35%;
        background: url('../images/Welcome1.svg');
        background-size: cover;
        .features{
            padding: 2em;
            margin-top: 70px;        
            h6{
                &::first-letter{
                    text-transform: capitalize;
                }
                &::before{
                    position: absolute;
                    content: '';
                    top: calc(50% - 12px);
                    height: 25px;
                    width: 25px;
                    left: 0;
                    background: url('../images/Verified.svg');
                    background-size: cover;
                }
                padding-left: 35px;
                position: relative;
                color: #fff;
                font-weight: 400;
                font-size: 1rem;
                margin: 0 0 25px;
            }
        }
        .illustration{
            margin: auto auto 50px;
            width: 70%;
        }
    }
}

    .right{
        width: 65%;
        flex-direction: column;
        justify-content: center;
        .logotype{
            width: 200px;
            margin-bottom: 50px;
          
        }
        .select-a-user{
            font-weight: 500;
            margin: 0 0 40px;
            transition: opacity 1s ease-in-out;
            text-align: center;
                text-transform: uppercase;
            &::first-letter{
                text-transform: capitalize;
            }
        }

        .wrap{
            display: block;
            overflow: hidden;
            width: 260px;
            /*background: grey;*/
            min-height: 260px;
        }
        .usertype{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            transition: all 0.4s ease-in-out;
            &__selector{
                &.translate{
                    animation: translate 0.3s;
                }
                position: relative;
                justify-content: center;
                margin: 10px 0;
                text-transform: uppercase;
                letter-spacing: 0.06em;
                height:48px;
                background: transparent;
                transition: all 0.3s ease-in-out;
                &::before, &::after{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
                &::before{
                    content: '';
                    transform: scaleX(0);
                    transform-origin: left center;  
                    transition: all 0.25s ease-in-out;
                }
                &::after{
                    content: attr(data-inner);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover{
                    color: #fff;
                    &::before{
                        transform: scaleX(1);
                    }
                }
                &--admin{
                    &::before{
                        background: $purple;
                    }
                    border: 1px solid $purple;
                    color: $purple;
                }
                &--client{
                    border: 1px solid $lavender;
                    color: $lavender;
                    &::before{
                        background: $lavender;
                    }
                }
                &--employee{
                    border: 1px solid $pink;
                    color: $pink;
                    &::before{
                        background: $pink;
                    }
                }
                
            }
        }
    }

.login-form{
    opacity: 0;
    display: none;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
    .psw, .id{
        position: relative;
        margin-top: 10px;
        & input{
            width: 100%;
            border-radius: 0;
            padding-left: 50px;
            border: 1px solid #bdbdbd;
        }
        &::before{
            position: absolute;
            content: '';
            height: 28px;
            width: 28px;
            top: calc(50% - 14px);
            left: 15px;  
        }
    }
    .psw{
        &::before {
            background: url('../images/Lock.svg') center center no-repeat;
            background-size: 16px auto;
        }
    }
    .id {
        &::before {
            background: url('../images/User.svg') center center no-repeat;
            background-size: 16px auto;
        } 
    }
    .forgot-psw{
        color: $purple;
        &::first-letter{
            text-transform: capitalize;
        }
        font-size: 0.9rem;
        align-self: flex-end;
        margin: 10px 0 20px;
        text-transform: lowercase;
    }
    .connect{
        margin: auto;
        height: 44px;
        width: 100%;
        text-transform: uppercase;
        background: $lavender;
        color: #fff;
        justify-content: center;
    }
}

.modal {
    &.hidden {
        display: none;
        & .modal__content {
            opacity: 0;
            z-index: -1;
            transform: translateY(20px);
            transition: all 0.3s ease-in-out;
        }
    }
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left:  0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.18);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    &__content{
        @extend %scroll;
        max-height: 500px;
        overflow-y: scroll;
        position: relative;
        height: fit-content;
        padding: 1em 2em;
        flex-direction: column;
    }
    &__title {
        text-transform: uppercase;
        margin: 2em 0;
        font-weight: 500;
    }
    &__close{
        position: absolute;
        height: 40px;
        width: 40px;
        cursor: pointer;
        background: url('../images/close.svg') center center no-repeat;
        background-size: cover;
        right: 0;
        top: 0;
    }
    form{
        width: 280px;
        padding: 0 1.5em;
    }
    .field {
        margin-bottom: 10px;
        textarea, input{
            outline: none;
            width: 100%;
            &:focus {
                box-shadow: 0 0 4px rgba($purple, 0.1);
                border-color: $purple;
                &::placeholder{
                    color: $purple;
                }
            } 
        }
        textarea{
            font-family: $family;
            padding: 1.5em;
            height: 140px;
            resize: none;
            &::placeholder {
                font-family: Arial;
            }
        }
        input{
            &[type="date"],&[type="time"]{
                position: relative;
                &:after{
                    padding-left: 2em;
                    color: #777;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    content: attr(placeholder);
                    top: 0;
                    left: 0;
                    text-transform: capitalize;
                    height: 100%;
                    width: 100%;
                    z-index: 0;
                    font-family: arial;
                    background: #fff;
                }
                &:focus::after{
                    display: none;
                }
                &:blur::after{
                    display: flex;
                }
                text-transform: uppercase;
            }
            transition: all 0.3s ease-in-out;
            border: 1px solid #bdbdbd;
            &[type="submit"] {
                border: none;
                margin: 20px auto 30px;
                display: block;
                background: $purple;
                width: fit-content;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }
        }
    }
}

/*************************
    NOTIFICATIONS
**************************/
.notifications {
    max-height: 450px;
    justify-content: space-between;
    display: flex;
}

.c-type-box {
    position: relative;
    padding: 1em;
    .attachement {
        position: absolute;
        top: 37px;
        left: 40px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: url('../images/Plus.svg') center center no-repeat;
        background-size: cover;
        overflow: hidden;
        input[type="file"] {
            opacity: 0;
            width: 100%;
            height: 100%;
        }
    }
    textarea {
        &:focus {
            border: 1px solid $purple;
        }
        /*background: grey;*/
        font-family: 'Barlow', sans-serif;
        outline: 0;
        padding: 1em 4em;
        width: 100%;
        height: 100%;
        resize: none;
        border: 1px solid #c6c6c6;
        transition: all 0.3s ease-in-out;
    }
    button[type="submit"] {
        background: transparent;
        position: absolute;
        top: 25px;
        right: 40px;
        height: 40px;
        width: 40px;
        svg{
            &:hover {
                stroke: $purple;
            }
            cursor: pointer;
            stroke-width: 1px;
            stroke: #777;
            height: 100%;
            width: 100%;
            transition: all 0.3s ease-in-out;
        }
    }
}

.messages-box {
    width: 68%;
    position: relative;
    .heading {
        &.corresponding {
            background: #f5f5f5;
            padding: 0.5em 1em;
            height: 60px;
        }
        position: relative;
        &::before {
            position: absolute;
            content: '';
            bottom: -1px;
            height: 1px;
            width: 100%;
            left: 0;
            background: #eee;
        }
    }
}

    .content {
        @extend %scroll;
        overflow-y: scroll;
        height: 280px;
        width: 100%;
        padding: 1.5em 1em 0;
        display: flex;
        flex-direction: column;
        .message {
            &.me {
                background: $pink;
                align-self: flex-end;
            }
            background: $lavender;
            color: #fff;
            margin-bottom: 8px;
            padding: 0.5em 1em;
            width: fit-content;
            border-radius: 4px;
        }
    }

    .messages-search {
        margin-bottom: 10px;
        height: 58px;
        padding: 0.75em;
        position: relative;
        &::after, &::before {
            position: absolute;
            content: '';   
        }
        &::after {
            height: 1px;
            width: 100%;
            bottom: -2px;
            left: 0;
            background: #eee;
        }
        &::before {
            height: 18px;
            width: 18px;
            top: calc(50% - 9px);
            right: 20px;
            background: url('../images/Search-icon.svg');
        }
        input {
            border-radius: 4px;
            width: 100%;
            height: 100%;
            padding: 0.5em 1em;
        }
    }    
    .messages-list {
        width: 30%;
        overflow: hidden;
    }
    .correspondings {
        backface-visibility: hidden;
        max-height: 375px;
        @extend %scroll;
        overflow: scroll;
        .corresponding {
            cursor: pointer;
        }
    }
    
    .corresponding {
        position: relative;
        &.active {
            /*border-left: 2px solid $purple;*/
            background: #f5f5f5;
        }
        display: flex;
        align-items: center;
        padding: 0.5em 1em;
        .name{
            text-transform: capitalize;
            font-size: 1rem;
            margin: 0;
            font-weight: 500;
        }
        .function {
            text-transform: capitalize;
            color: #777;
        }
        img {
            height: 40px;
            margin-right: 16px;
            border-radius: 50%;
        }
    }



/*************************
    Client Dashboard
**************************/

.c-clients {
    &.team {
        &>li {
            justify-content: space-between;
        }
        .customer, .mission, .email {
            width: 20%;
        }
        .function {
            width: 10%;
        }
        .phone {
            width: 12%;
        }
    }
}

.c-client-project {
    padding: 2em;
    .heading {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .project-title {
        font-weight: 500;
        font-size: 1.25rem;
        margin: 4px 0;
        text-transform: capitalize;
    }
    .right {
        width: 120px;
        color: $purple;
        display: flex;
        flex-direction: row;
        align-items: center;
        .number {
            margin-right: 8px;
            font-size: 2.25rem;
        }
    }
    .description {
        margin-bottom: 10px;
        line-height: 1.5em;
    }
    .members {
        justify-content: center;
        display: flex;
        .c-employee {
            &:hover {
                background: #f5f5f5;
            }
            height: 180px;
            width: 200px;
            margin-bottom: 0;
        }
    }
    .details {
        margin: 18px 0;
        display: flex;
        justify-content: center;
        .select {
            display: flex;
            align-items: center;
            position: relative;
            min-height: 25px;
            padding: 0 ;
            border-bottom: 1px solid #c7c7c7;
            &:first-of-type {
                margin-right: 30px;
            }
            .arrow {
                position: absolute;
                top: 8px;
                right: 5px;
                @extend %down-arrow;
                border-color: #111 transparent transparent transparent;
            }
            select {
                font-size: 1.2rem;
                z-index: 5;
                background: transparent;
                padding-right: 32px;
                text-transform: capitalize;
                border: none;
                -webkit-appearance : none;
                outline: none;
            }
            
        }
    }
    .message {
        h4 {
            font-weight: 500;
            text-transform: capitalize;
            margin: 4px 0;
        }
        .c-type-box {
            padding: 1em 0;
            svg {
                fill: $lavender;
            }
            textarea {
                padding-top: 22px;
            }
        }
    }
}
    .c-notifications-list {
        &__item {
            position: relative;
            padding: 0.75em 1em;
            &:not(:last-of-type)::after {
                position: absolute;
                content: '';
                bottom: 0;
                width: 100%;
                height: 1px;
                left: 0;
                background: #c7c7c7;
            }
        }
    }

.employee-projects {
    height: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .projects-status {
        width: 28%;
    }
    .c-client-project {
        width: 70%;
    }
    .projects-status {
        max-height: 100%;
        @extend %scroll;
        overflow-y: scroll;
        .item {
            &.active {
                border-left: 3px solid $pink;
                background: #f5f5f5;
            }
            padding: 1em 2em;
            position: relative;
            &:not(:last-of-type)::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background: #eee;
            }
        }
        .status {
            &-progressing {
                color: tomato;
            }
            &-done {
                color: darkcyan;
            }
            text-transform: capitalize;
            font-size: 0.95rem;
            text-align: right;
            margin-bottom: 4px;
        }
        .title {
            margin: 4px 0;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1rem;
        }
    }
}

.c-resume {
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.clone {
    text-align: right;
    margin-bottom: 15px;
    button {
        &:first-letter {
            text-transform: capitalize;
        }
        color: #fff;
        background: transparent;
        padding: 0 2em;
        background: $purple;
    }
}

.c-contacts {
    position: relative;
    padding: 0 20px;
    &::after, &::before {
        position: absolute;
        content: '';
        top: 0;
        height: 100%;
        width: 1px;
        background: #eee;
    }
    &::after {
        left: 0;
    }
    &::before {
        right: 0;
    }
    p {
        span:first-of-type {
            text-align: center;
            width: 25px;
            margin-right: 8px;
        }
        &:first-letter {
            text-transform: capitalize;
        }
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }
}

.c-person {
    width: fit-content;
    &-picture {
        margin-right: 16px;
        img {
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }
    }
    &-informations {
        .title {
            text-transform: capitalize;
            font-size: 1.2rem;
            font-weight: 500;
            margin: 0;
        }
        .function {
            margin-bottom: 8px;
            text-transform: capitalize;
        }
        .mission {
            li:first-letter{
                text-transform: capitalize;
            }
            line-height: 1.4em;
            color: #777;
            font-size: 0.9rem;
        }
    }
}

.profile-details {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.extra {
    padding: 1em 2em;
    width: 68%;
    .heading {
        &:first-letter {
            text-transform: capitalize;
        }
        color: $lavender;
        font-size: 1rem;
        font-weight: 500;
        margin: 0 0 12px;
    }
    .row {
        display: flex;
    }
    .personal, .professional {
        margin-bottom: 12px;
        .field {
            display: flex;
            .title {
                width: 150px;
                font-weight: 500;
                text-transform: capitalize;
            }
            p {
                margin-bottom: 8px;
            }
        }
    }

    .rights, .options {
        width: 100%;
        font-size: 0.95rem;
        .wrap {
            display: flex;
            justify-content: space-between;
            .field {
                input {
                    margin-right: 10px;
                }
                width: 25%;
                margin-bottom: 12px;
            }
        }
    }
}

.profile-calendar {
    width: 30%;
    margin-bottom: 0;
}





